{% extends 'base/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block herotitle %} Crear alimento {% endblock %}
{% block herosubtitle %} {% endblock %}
{% block contenttitle %} {% endblock %}
{% block contentsubtitle %} {% endblock %}

{% block content %}

    {% from "_macro.html" import render_field %}  
    <div>
        <!-- Mensaje -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <p class="mb-0">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- END Mensaje -->
    </div>
    <!-- Page Content -->
    <div class="block block-rounded">
        <div class="block-content block-content-full">
            <form name="sentMessage" id="createForm" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="row push">
                    <div class="col-lg-4">
                        <p class="font-size-sm text-muted">
                            Datos Nutricionales
                        </p>
                    </div>
                    <div class="col-lg-8 col-xl-5">
                        <div class="form-group">
                            <label for="example-text-input">Descripción:</label>
                            {{ render_field(form.namefood, class='form-control', placeholder="Maní", value=value.1) }}
                        </div>
                        <div class="form-group">
                            <label for="example-email-input">Proteína en 100 gr.:</label>
                            {{ render_field(form.prot, class='form-control', placeholder="25.8", value=value.2) }}  
                        </div>
                        <div class="form-group">
                            <label for="example-password-input">Grasa en 100 gr.:</label>
                            {{ render_field(form.fat, class='form-control', placeholder="49.24", value=value.3) }}
                        </div>
                        <div class="form-group">
                            <label for="example-password-input">Carbohidratos en 100 gr.:</label>
                            {{ render_field(form.ch, class='form-control', placeholder="16.13", value=value.4) }}
                        </div>
                        <div class="form-group">
                            <label for="example-password-input">Fibra en 100 gr.:</label>
                            {{ render_field(form.fiber, class='form-control', placeholder="8.5", value=value.5) }}
                        </div>
                    </div>
                </div>
                <div class="row push">
                    <div class="col-lg-4">
                        <p class="font-size-sm text-muted">
                            Datos de presentación
                        </p>
                    </div>
                    <div class="col-lg-8 col-xl-5">
                        <div class="form-group">
                            <label for="example-text-input">Gramos de la presentación "1":</label>
                            {{ render_field(form.gr1, class='form-control', value=value.6) }}
                        </div>
                        <div class="form-group">
                            <label for="example-text-input">Descripción de la presentación "1":</label>
                            {{ render_field(form.p1, class='form-control', value=value.7) }}
                        </div>
                        <div class="form-group">
                            <label for="example-text-input">Gramos de la presentación "2":</label>
                            {{ render_field(form.gr2, class='form-control', value=value.8) }}
                        </div>
                        <div class="form-group">
                            <label for="example-text-input">Descripción de la presentación "2":</label>
                            {{ render_field(form.p2, class='form-control', value=value.9) }}
                        </div>
                    </div>
                </div>
                <div id="success" class="form-group row justify-content-center mb-0">
                    <div class="col-md-6 col-xl-5">
                        <button type="submit" class="btn btn-block btn-primary">
                            <i class="fa fa-fw fa-user-check mr-1"></i> Enviar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- END Page Content -->
{% endblock %}