{% extends 'base/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block herotitle %} Resumen de <a class="font-w600">{{ username }}</a> {% endblock %}
{% block herosubtitle %} {% endblock %}
{% block contenttitle %} {% endblock %}
{% block contentsubtitle %} {% endblock %}

{% block content %}

    {% from "_macro.html" import render_field %}  
    <div>
        <!-- Mensaje -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <p class="mb-0">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- END Mensaje -->
    </div>
    <!-- Stats -->
    <div class="bg-white border-bottom">
        <div class="content content-boxed">
            <div class="row items-push text-center">
                <div class="col-6 col-md-3">
                    <div class="font-size-sm font-w600 text-muted text-uppercase">Peso</div>
                    <a class="link-fx font-size-h3" href="javascript:void(0)">{{ peso }} kg.</a>
                </div>
                <div class="col-6 col-md-3">
                    <div class="font-size-sm font-w600 text-muted text-uppercase">Porcentaje de grasa corporal</div>
                    <a class="link-fx font-size-h3" href="javascript:void(0)">{{ bf }}%</a>
                </div>
                <div class="col-6 col-md-3">
                    <div class="font-size-sm font-w600 text-muted text-uppercase">Índice de masa magra corporal</div>
                    <a class="link-fx font-size-h3" href="javascript:void(0)">{{ ffmi }}</a>
                </div>
                <div class="col-6 col-md-3">
                    <div class="font-size-sm font-w600 text-muted text-uppercase mb-2">Rendimiento</div>
                    <span class="text-warning">
                        {% for i in range(star) %}
                        <i class="fa fa-star"></i>
                        {% endfor %}
                    </span>
                    <span class="font-size-sm text-muted">({{ star }})</span>
                </div>
            </div>
        </div>
    </div>
    <!-- END Stats -->
    <!-- Page Content -->
    <div class="content content-boxed">
        <div class="row">
            <div class="col-md-7 col-xl-8">
                <!-- Updates -->
                {% for i in range(10) %}
                <ul class="timeline timeline-alt py-0">
                    <li class="timeline-event">
                        {% if dinamicodata[i][19]=="Disminución del peso" %}
                        <div class="timeline-event-icon bg-flat">
                            <i class="fa fa-angle-down"></i>
                        </div>
                        <div class="timeline-event-block block invisible" data-toggle="appear">
                            <div class="block-header">
                                
                                <h3 class="block-title">Has disminuido de peso</h3>
                                <div class="block-options">
                        {% elif dinamicodata[i][19]=="Aumento del peso" %}
                        <div class="timeline-event-icon bg-city">
                            <i class="fa fa-angle-up"></i>
                        </div>
                        <div class="timeline-event-block block invisible" data-toggle="appear">
                            <div class="block-header">
                                
                                <h3 class="block-title">Has aumentado de peso</h3>
                                <div class="block-options">
                        {% else %}
                        <div class="timeline-event-icon bg-modern">
                            <i class="fa fa-angle-right"></i>
                        </div>
                        <div class="timeline-event-block block invisible" data-toggle="appear">
                            <div class="block-header">
                                
                                <h3 class="block-title">No hay cambios en el peso</h3>
                                <div class="block-options">
                        {% endif %}
                                    <div class="timeline-event-time block-options-item font-size-sm">
                                        <a class="font-w600">{{ dinamicodata[i][2] }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-content">
                                {% if dinamicodata[i][19]=="Disminución del peso" %}
                                <p class="font-w600 mb-2">
                                    Han pasado <a class="font-w600">{{ dinamicodata[i][12] }}</a> días de tu último control. Tu peso ha cambiado <a class="font-w600">{{ dinamicodata[i][13] }}</a> kilos.
                                    La calificación de lo que ha ocurrido es: <a class="font-w600">{{ dinamicodata[i][21] }}</a>. Debido a que has perdido un <a class="font-w600">{{ dinamicodata[i][20]*100 }}%</a> de masa magra.
                                </p>
                                <p>
                                    Para llegar a tu objetivo faltan <a class="font-w600">{{ dinamicodata[i][29] }}</a> días al ritmo que vas. De los cuales <a class="font-w600">{{ dinamicodata[i][28] }}</a> días son de descenso de peso y <a class="font-w600">{{ dinamicodata[i][27] }}</a> son de aumento de peso.
                                </p>
                                {% elif dinamicodata[i][19]=="Aumento del peso" %}
                                <p class="font-w600 mb-2">
                                    Han pasado <a class="font-w600">{{ dinamicodata[i][12] }}</a> días de tu último control. Tu peso ha cambiado <a class="font-w600">{{ dinamicodata[i][13] }}</a> kilos.
                                    La calificación de lo que ha ocurrido es: <a class="font-w600">{{ dinamicodata[i][23] }}</a>. Debido a que has ganado un <a class="font-w600">{{ dinamicodata[i][22]*100 }}%</a> de masa grasa.
                                </p>
                                <p>
                                    Para llegar a tu objetivo faltan <a class="font-w600">{{ dinamicodata[i][29] }}</a> días al ritmo que vas. De los cuales <a class="font-w600">{{ dinamicodata[i][28] }}</a> días son de descenso de peso y <a class="font-w600">{{ dinamicodata[i][27] }}</a> son de aumento de peso.
                                </p>
                                {% else %}
                                <p class="font-w600 mb-2">
                                    Han pasado <a class="font-w600">{{ dinamicodata[i][12] }}</a> días de tu último control.
                                </p>
                                <p>
                                    Para llegar a tu objetivo faltan <a class="font-w600">{{ dinamicodata[i][29] }}</a> días al ritmo que vas. De los cuales <a class="font-w600">{{ dinamicodata[i][28] }}</a> días son de descenso de peso y <a class="font-w600">{{ dinamicodata[i][27] }}</a> son de aumento de peso.
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
                {% endfor %}

                <!-- END Updates -->
            </div>
            <div class="col-md-5 col-xl-4">


                <!-- Ratings -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            <i class="fa fa-calendar-check text-muted mr-1"></i> Controles
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                                <i class="si si-refresh"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content">
                        {% for datos in datos %}
                        <div class="font-size-sm push">
                            <div class="d-flex justify-content-between mb-2">
                                <div>
                                    <a class="font-w600" href="">{{ datos[0] }}</a>
                                </div>
                                <div class="block-options">
                                    <div class="timeline-event-time block-options-item font-size-sm">
                                        Cada <a class="font-w600">{{ datos[2] }}</a> días control.
                                    </div>
                                </div>
                            </div>
                            <p class="mb-2">{{ datos[1] }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- END Ratings -->

                                <!-- Products -->
                                <div class="block block-rounded">
                                    <div class="block-header block-header-default">
                                        <h3 class="block-title">
                                            <i class="fa fa-dumbbell text-muted mr-1"></i> Rútina
                                        </h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                                                <i class="si si-refresh"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <div class="text-center">
                                            <p>
                                                <i class="fa fa-3x fa-cog fa-spin text-primary"></i>
                                            </p>
                                            <h1 class="h4 mb-1">
                                                Lo siento, estamos desarrollandolo..
                                            </h1>
                                            <h2 class="h6 font-w400 text-muted mb-3">
                                                ..pero pronto funcionara!
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Products -->

                <!-- Followers -->
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">
                            <i class="fa fa-drumstick-bite text-muted mr-1"></i> Dieta
                        </h3>
                        <div class="block-options">
                            <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                                <i class="si si-refresh"></i>
                            </button>
                        </div>
                    </div>
                    <div class="block-content">
                        <div class="text-center">
                            <p>
                                <i class="fa fa-3x fa-cog fa-spin text-primary"></i>
                            </p>
                            <h1 class="h4 mb-1">
                                Lo siento, estamos desarrollandolo..
                            </h1>
                            <h2 class="h6 font-w400 text-muted mb-3">
                                ..pero pronto funcionara!
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- END Followers -->
            </div>
        </div>
    </div>
    <!-- END Page Content -->
{% endblock %}